

body {
	background-color: white;
	/* background-image: linear-gradient(to bottom, white,  #dceaf3 ); */
}

Form {
	border: solid 1px #646464;
	border-radius: 10px;
	background-color: white;
	background-image: linear-gradient(to bottom, white,  #c3def0 );
	padding: 30px;
	color: grey;
	margin: 200px;
	box-shadow:20px 20px 50px  #646464 ;
	
	/* opacity: 0.85; */
}

.btn {
	background-color: #dd6080;
	border: #45add0
}

@media screen and (max-width: 700px) {
    form {
		margin: 30px;
	}
  }
