

body {
	background-color: white;
	/* background-image: linear-gradient(to bottom, white,  #dceaf3 ); */
}

Form {
margin-left: 20px;
	margin-right: 20px;
	border: solid 4px #dd6080;
	border-radius: 25px;
	background: #f2e587;
	padding: 30px;
	color: #343338;
	
	/* opacity: 0.85; */
}



.btn {
	background-color: #dd6080;
	border: #45add0
}
